<form (ngSubmit)="onSubmit()" #calcForm="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" id="expression"
          [(ngModel)]="model.expression" name="expression" #expression="ngModel"
          value="model.expression">
  </div>

   <div class="form-group">
    <div *ngIf="!result.errorText && result.result != null" class="alert alert-success">
          {{result.expression}} = {{result.result}}
    </div>
    <div *ngIf="result.errorText" class="alert alert-danger">
          {{result.errorText}}
    </div>
  </div>

  <button type="submit" class="btn btn-success">Calculate</button>

  <button type="button" class="btn btn-default" (click)="onShowHistory()">Show History</button>

</form>
